@font-face {
    font-family: 'Rotis Semi Serif Std';
    src: url('RotisSemiSerifStd.woff2') format('woff2'),
        url('RotisSemiSerifStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

