@font-face {
    font-family: 'Rotis Semi Serif Std';
    src: url('RotisSemiSerifStd-Bold.woff2') format('woff2'),
        url('RotisSemiSerifStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

