@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,500,600,700|Major+Mono+Display&display=swap');


.family-1 {
    font-family: 'Major Mono Display', monospace;
}
.family-2 {
    font-family: 'Lakers';
    font-weight: normal;
    font-style: normal;
}
.family-3 {
    font-family: 'Advent Pro', sans-serif;
}
/* 
palet1 : #ff5454 azul
palet2 : #ff5454 vermelho
palet3 : 
*/

.color {
    color: #ff5454 !important;
}
.active {
    color: #ff5454;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #292a2b;
}
h1, h2 {
    font-family: 'Major Mono Display', monospace;
}
h1 {
    font-family: 'Lakers';
    letter-spacing: 10px;
    color: #ffffff;
    font-size: 80px;
    margin-top: 120px;
    line-height: 60px;
}
h2 {
    color: #ffffff;
    font-size: 26px;
    margin-top: 30px;
    line-height: 40px;
}
strong {
    color: #ff5454;
}
p {
    font-family: 'Advent Pro', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 7px;
}
footer {
    margin-top: 150px;
}
h1 .dev-logo {
    letter-spacing: initial;
    font-family: 'Major Mono Display', monospace;
    font-size: 45px;
}
.a-neutro {
    color: inherit;
    text-decoration: none;
}
.a-neutro:hover {
    color: inherit;
    text-decoration: none;
}
.reset {
    padding: 0px 0px;
    margin: 0px 0px;
}
.delay-1 {
    animation-delay: 0.4s;
}
.delay-2 {
    animation-delay: 0.2s;
}
.pdg-sides-0-divs div {
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    background: transparent;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #ff5454;
    padding: 10px 10px;
    margin-top: 50px;
    
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 6px;
    transition: 0.3s;
}

.btn:hover {
    color: #ff5454;
    transition: 0.8s;
    font-size: 24px;
}
.line {
    background-color: #ff5454;
    height: 3px;

    margin: 20px 0px;
}

/*PAGES*/
.home     { display: none; }
.about-me { display: none; }
.projetos { display: block; }

/*END_PAGES*/


/*MENUBAR*/
.head-wrapper div {
    padding: 0px 0px;
    margin: 0px 0px;
}
.head-wrapper {
    display: block;
    position: fixed;
    
    background-color: #1a1a1a;
    width: 70px;
    height: 100vh;
    border-right: 4px solid #ff5454;

    transition: 1.0s;
    z-index: 99;
}
.logo-div {
    position: absolute;
    top: 0;
}
.sub-logo {
    display: none;
    color: #ff5454;
    font-family: 'Major Mono Display', monospace;
    transition: 0.8s;
}
.appear-08s {
    display: block;
    transition: 0.8s;
}
.icon-logo {
    margin-top: 15px;
    font-size: 35px !important;
    color: #ffffff;
    transition: 0.3s;
}
.icon-logo:hover {
    transition: 0.9s;
    cursor: pointer;
    color: #ff5454;
}
.icon-row:hover {
    transition: 0.1s;
}
.icon-row:hover {
    transition: 0.5s;
    text-decoration: #ff5454;
    color: #ff5454;
    cursor: pointer !important;
}

.icon-bar {
    font-size: 24px;
    color: #ffffff;
    transition: 0.3s;
}
.icon-bar:hover {
    transition: 0.9s;
    cursor: pointer;
    color: #ff5454;
}
.info-tab {
    font-family: 'Major Mono Display', monospace;
    display: block;
    color: #ffffff;
    padding-top: 21px;
    font-size: 17px;

    transition: 3s;
}
.icons-table {
    width: 100%;
    height: 50vh;
}
.icons-table {
    
    margin-left: 20px;
}
.icons-table tr {
    margin-bottom: 15px;
}
.icons-table tr:hover {
    cursor: pointer;
}
.mainicons-wrapper {
    margin-top: 130px !important;
}
/*END_MENUBAR*/

.profile-pic {
    border-radius: 50%;
    border: 3px solid #ff5454;
    width: 160px;
    height: 160px;
}
.about-me h1 {
    margin-bottom: 40px;
}
.about-me .profile-pic {
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.projects-title {
    color: #ff5454;
    margin-bottom: 10px;
}
.project-row div:first-child {
    margin-left: 0px;
}
.project-row div {
    padding: 10px;
}
.project-row {
    margin-bottom: 100px;
}
.project-row {
    margin-bottom: 140px!important;
}
.img-project {
    display: block;
    max-width: 100%;
    height: auto;
}


/* RESPONSIVE CSS */
.menuicon-div {
    padding-right: 40px;
}
@media screen and (max-width: 992px) {
    #close-mob-menu {
        display: none;
    }
    h1 {
        margin-top: 35px;
        line-height: 80px;
    }
    
    .pdg-sides-0-divs {
        padding: 0px 25px;
    }
    .head-wrapper { 
        display: none; 
        width: 80%;
    }
    .info-tab { 
        display: block !important; 
        padding-top: 20px;
    }
    .logo-div { 
        display: none; 
    }

    .top-menubar-mob {
        background-color: #1a1a1a;
        height: 65px; 
    }
    .top-menubar-mob .fa-code {
        margin-left: 20px; 
    }
    .top-menubar-mob .fa-bars {
        float: right;
    }
    .top-menubar-mob .fa-times {
        float: right;
    }
    .mainicons-wrapper {
        margin-top: 10px !important;
    }
    .sub-logo {
        display: block;
    }
}