@import url('https://fonts.googleapis.com/css?family=Advent+Pro:400,500,600,700|Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');


.family-1 {
    font-family: 'Major Mono Display', monospace;
}
.family-2 {
    font-family: 'Lakers';
    font-weight: normal;
    font-style: normal;
}
.family-3 {
    font-family: 'PT Sans', sans-serif;
}
.family-4 {
    font-family: 'PT Sans', sans-serif;
}
/* 
palet1 : #ff5454 azul
palet2 : #ff5454 vermelho
palet3 : 
*/

.color-ff5454 {
    color: #ff5454 !important;
}
.active {
    color: #ff5454;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #292a2b;
}
h1, h2 {
    font-family: 'Major Mono Display', monospace;
}
h1 {
    font-family: 'Lakers';
    letter-spacing: 10px;
    color: #ffffff;
    font-size: 80px;
    margin-top: 120px;
    line-height: 60px;
}
h2 {
    color: #ffffff;
    font-size: 26px;
    margin-top: 30px;
    line-height: 40px;
}
strong {
    color: #ff5454;
}
p {
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 7px;
}
footer {
    margin-top: 150px;
}
h1 .dev-logo {
    letter-spacing: initial;
    font-family: 'Major Mono Display', monospace;
    font-size: 45px;
}
.a-neutro {
    color: inherit;
    text-decoration: none;
}
.a-neutro:hover {
    color: inherit;
    text-decoration: none;
}
.a-neutro:active {
    color: inherit;
    text-decoration: none;
}
.a-neutro:visited {
    color: unset;
    text-decoration: none;
}
.reset {
    padding: 0px 0px;
    margin: 0px 0px;
}
.delay-1 {
    animation-delay: 0.4s;
}
.delay-2 {
    animation-delay: 0.2s;
}
.pdg-sides-0-divs div {
    padding-left: 0px;
    padding-right: 0px;
}
.force-center {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: 0 auto !important;
}

.btn {
    background: transparent;
    width: 100%;
    border-radius: 8px;
    border: 3px solid #ff5454;
    padding: 10px 10px;
    margin-top: 50px;
    
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 6px;
    transition: 0.3s;
}

.btn:hover {
    color: #ff5454;
    transition: 0.8s;
    font-size: 24px;
}
.line {
    background-color: #ff5454;
    height: 3px;

    margin: 20px 0px;
}

/*PAGES*/
.home     {display: block;}
.about-me {display: none;}
.projetos {display: none;}
.contato  {display: none;}

/*END_PAGES*/



/*MENUBAR*/
.head-wrapper div {
    padding: 0px 0px;
    margin: 0px 0px;
}
.head-wrapper {
    display: block;
    position: fixed;
    
    background-color: #1a1a1a;
    width: 70px;
    height: 100vh;
    border-right: 4px solid #ff5454;

    transition: 1.0s;
    z-index: 99;
}
.logo-div {
    position: absolute;
    top: 0;
}
.sub-logo {
    display: none;
    color: #ff5454;
    font-family: 'Major Mono Display', monospace;
    transition: 0.8s;
}
.appear-08s {
    display: block;
    transition: 0.8s;
}
.icon-logo {
    margin-top: 15px;
    font-size: 35px !important;
    color: #ffffff;
    transition: 0.3s;
}
.icon-logo:hover {
    transition: 0.9s;
    cursor: pointer;
    color: #ff5454;
}
.icon-row {
    border-bottom: 3px solid transparent;
    font-family: 'Major Mono Display', monospace;
    font-size: 18px;
    margin-bottom: 0px;
}
.icon-row:hover {
    transition: 0.1s !important;
}
.icon-bar {
    font-size: 24px;
    color: #ffffff;
    transition: 0.3s;
}
.icon-bar:hover {
    transition: 0.9s;
    cursor: pointer;
    color: #ff5454;
}
.info-tab {
    font-family: 'Major Mono Display', monospace;
    display: block;
    color: #ffffff;
    font-size: 17px;

    transition: 3s;
}
.tab-goto {
    color: #ffffff;
}
.icons-table {
    width: 100%;
    height: 50vh;
}
.icons-table {
    
    margin-left: 20px;
}
.icons-table tr {
    margin-bottom: 15px;
    height: 15px;
}
.icons-table tr:hover {
    cursor: pointer;
}
.icons-table table td {
    vertical-align: middle;
}
.mainicons-wrapper {
    margin-top: 130px !important;
}
/*END_MENUBAR*/

.profile-pic {
    border-radius: 50%;
    border: 3px solid #ff5454;
    width: 160px;
    height: 160px;
}
.about-me h1 {
    margin-bottom: 40px;
}
.about-me .profile-pic {
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.projects-title {
    color: #ff5454;
    margin-bottom: 10px;
}
.project:first-child {
    margin-left: 0px;
}
.project-row {
    margin-bottom: 0px;
}
.project {
    cursor: pointer;
    background-size: cover;
    height: 300px;
    display: table;
}
.hover-wrapper { 
    background-color: #ff54547c;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    transition: 1s; 
}
.icon-wrapper {
    width: fit-content;
    height: fit-content;
}
.icon-wrapper .fas {
    padding: 10px 10px;
    font-size: 25px;
}

.contact-list {
    margin-top: 35px;
    list-style: none;
    color: #ffffff;
    font-size: 26px;
    font-family: 'Major Mono display', sans-serif;
    padding-left: 0;
}
.contact-list li {
    margin-bottom: 20px;
}
.contact-list li:last-child {
    margin-bottom: 0px;
}
.contact-list .icon {
    text-align: center;
    color: #ff5454;
    margin-right: 10px;
}
.contact-list .fa-file-pdf {
    margin-right: 15px;
}
.contact-list .a-neutro:visited{
    color: #ffffff;
}
.contact-list .a-neutro:active  {
    color: #ffffff;
}

#batista         {background-image: url('../images/batista.png');}
#enfermagem      {background-image: url('../images/enfermagem_cut.png');}
#odontologia     {background-image: url('../images/odontologia_cut.png');}
#psicologia      {background-image: url('../images/psicologia_cut.png');}
#palladium_natal {background-image: url('../images/palladium_natal_cut.png');}
#palladium_imax  {background-image: url('../images/palladium_imax.png');} 
#entre_ervas     {background-image: url('../images/entre_ervas_cut.png');} 
#aragon          {background-image: url('../images/aragon_cut.png');} 
#surlyn          {background-image: url('../images/essencia_surlyn_cut.png');} 
















/* RESPONSIVE CSS */
.menuicon-div .icon-logo {
    padding-right: 20px;
}
@media screen and (max-width: 992px) {
    .web-content-wrapper {

    }
    #close-mob-menu {
        display: none;
    }
    h1 {
        margin-top: 35px;
        line-height: 70px;
        font-size: 65px;
    }
    p {
        font-size: 19px;
        letter-spacing: 5px;;
    }
    
    .pdg-sides-0-divs {
        padding: 0px 25px;
    }
    .head-wrapper { 
        display: none; 
        width: 80%;
    }
    .info-tab { 
        display: block !important; 
        padding-top: 20px;
    }
    .logo-div { 
        display: none; 
    }

    .top-menubar-mob {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        background-color: #1a1a1a;
        height: 65px; 
    }
    .top-menubar-mob .fa-code {
        margin-left: 20px; 
    }
    .top-menubar-mob .fa-bars {
        float: right;
    }
    .top-menubar-mob .fa-times {
        float: right;
    }
    .icon-row {
        display: table-cell !important;
    }
    .icon-bar {
        color: #ff5454 !important;
    }
    .mainicons-wrapper {
        margin-top: 10px !important;
    }
    .sub-logo {
        display: block;
    }
    .contact-list {
        font-size: 20px;
    } 
    .text-center-mob {
        text-align: center !important;
    }
    .about-me .profile-pic {
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .about-me h1 {
        margin-bottom: 20px;
    }

    .home, .about-me, .projetos, .contato {
        margin-top: 65px;
    }

    .project-row {
        margin-bottom: 10px !important;
    }

    .slick-dots {
        position: absolute;
        top: 0px;
        margin-top: -30px;
        width: 100%;
        padding: 0px 15px;
        list-style: none;
    }
    .slick-dots li {
        display: inline-block;
        width: 11.111111%;
        text-align: center;
    }
    .slick-dots button {
        content: none;
        text-indent: -99999;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        box-shadow: none;
        background-color: #a5a5a5;
        color: #a5a5a5;
        border: 0;
    }
    .slick-dots li.slick-active button {
        background-color: #ff5454;    
        color: #ff5454;
        transition: 0.4s;
    }
}